{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="bg-gray-200 font-sans h-screen w-full flex flex-row justify-center items-center">
   <div class="card w-100 mx-auto bg-white  shadow-xl hover:shadow">
      <img class="w-32 mx-auto rounded-full -mt-20 border-8 border-white" src="{% static 'images/default.jpeg' %}" alt="">
      <div class="text-center mt-2 text-3xl font-medium">
         {{request.user.first_name}} {{request.user.last_name}} 
      </div>
      <div class="text-center mt-2 font-light text-sm">{{request.user.email}}</div>
      
      <div class="px-6 text-center mt-2 font-light text-sm">
        <p>
          Referal Link- 
        </p>
        <p>https://www.bitssatoshi.com/accounts/signup/{{user.profile.code}}</p>
      </div>
      <hr class="mt-8">
      <div class="flex p-4">
        <div class="w-1/2 text-center underline">
          <span class="font-bold ">{{total_recs}}</span> Referred
        </div>
        <div class="w-0 border border-gray-300">
          
        </div>
        <div class="w-1/2 text-center">
        <a href="{% url 'my_recommendations' %}" class='underline'> Recommended</a>
      </div>
   </div>
 </div>
{% endblock content %}
    