{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="bg-gray-200 font-sans h-screen w-full flex flex-row justify-center items-center">
   <div class="card w-96 mx-auto bg-white  shadow-xl hover:shadow">
      <img class="w-32 mx-auto rounded-full -mt-20 border-8 border-white" src="{% static 'images/default.jpeg' %}" alt="">
      <div class="text-center mt-2 text-3xl font-medium">
         {{request.user.first_name}} {{request.user.last_name}} 
      </div>
      <div class="text-center mt-2 font-light text-sm">{{request.user.email}}</div>
      
      <div class="px-6 text-center mt-2 font-light text-sm">
        <p>
          Referal Link- https://www.bitssatoshi.com/signup/{{user.profile.code}}
        </p>
      </div>
      <hr class="mt-8">
      <div class="flex p-4">
        <div class="w-full text-center">
          <span class="font-bold">1.8 k</span> Referred
        </div>
        <!-- <div class="w-0 border border-gray-300">
          
        </div>
        <div class="w-1/2 text-center">
          <span class="font-bold">2.0 k</span> Following
        </div> -->
      </div>
   </div>
 </div>
{% endblock content %}
    