{% extends 'base.html' %}
{% load static %}

{% block content %}

	<!-- component -->
	{% if messages %}
	{% for message in messages %}
	<div class='container items-center mx-auto mt-4'>
		<div id="alert-1" class="flex bg-blue-100 rounded-lg p-4 mb-4" role="alert">
			<svg class="w-5 h-5 text-blue-700 flex-shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
			<div class="ml-3 text-sm font-medium text-blue-700">
				{{message}}
			  <!-- A simple info alert with an <a href="#" class="font-semibold hover:text-blue-800 underline">example link</a>. Give it a click if you like. -->
			</div>
			<button type="button" class="ml-auto -mx-1.5 -my-1.5 bg-blue-100 text-blue-500 rounded-lg focus:ring-2 focus:ring-blue-400 p-1.5 hover:bg-blue-200 inline-flex h-8 w-8" data-collapse-toggle="alert-1" aria-label="Close">
			  <span class="sr-only">Close</span>
			  <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
			</button>
		  </div>
	</div>
	{% endfor %}
{% endif %}
<div class="relative min-h-screen flex items-center justify-center bg-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8 bg-white  relative items-center">
<div class="absolute bg-white opacity-60 inset-0 z-0"></div>
<div class="max-w-md w-full space-y-8 p-10 bg-gray-200 rounded-xl shadow-lg z-10">
<div class="grid  gap-8 grid-cols-1">
<div class="flex flex-col ">
		<div class="">
			<h2 class="font-semibold text-4xl mr-auto text-center">BitsSatoshi Giveaway</h2>		
		</div>
		<div class="mt-10">
			<p>Join <a href="https://twitter.com/BitsSatoshi" class='underline'>Twitter</a></p>
			<p>Join <a href="https://t.me/BitsSatoshi" class='underline'>Telegram</a></p>
			<p>Like, Comment and Retweet the pinned tweet <a href="" class='underline'> Tweet</a> </p>
			<p>Join <a href="https://discord.gg/R6mhtc7x" class='underline'>Discord</a></p>
		</div>
		<div class="mt-5">
			<div class="form">
					<form action="{% url 'airdrop' %}" method='POST'>
						{% csrf_token %}
					<div class="md:flex flex-row md:space-x-4 w-full text-xs">
						<div class="mb-3 space-y-2 w-full text-xs">
							<label class="font-semibold text-gray-600 py-2">Twitter Username <abbr title="required">*</abbr></label>
							<input placeholder="@john" class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded-lg h-10 px-4" required="required" type="text" name="twitter_username" required id="integration_shop_name">
							<p class="text-red text-xs hidden">Please fill out this field.</p>
						</div>
						<div class="mb-3 space-y-2 w-full text-xs">
							<label class="font-semibold text-gray-600 py-2">Telegram Username <abbr title="required">*</abbr></label>
							<input placeholder="@john" class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded-lg h-10 px-4" required="required" type="text" name="telegram_username"  required id="integration_shop_name">
							<p class="text-red text-xs hidden">Please fill out this field.</p>
						</div>
					</div>
					<div class="mb-3 space-y-2 w-full text-xs">
						<label class=" font-semibold text-gray-600 py-2">Retweet Link <abbr title="required">*</abbr></label>
						<div class="flex flex-wrap items-stretch w-full mb-4 relative">
							<div class="flex">
								<span class="flex items-center leading-normal bg-grey-lighter border-1 rounded-r-none border border-r-0 border-blue-300 px-3 whitespace-no-wrap text-grey-dark text-sm w-12 h-10 bg-blue-300 justify-center items-center  text-xl rounded-lg text-white">
								<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3.055 11H5a2 2 0 012 2v1a2 2 0 002 2 2 2 0 012 2v2.945M8 3.935V5.5A2.5 2.5 0 0010.5 8h.5a2 2 0 012 2 2 2 0 104 0 2 2 0 012-2h1.064M15 20.488V18a2 2 0 012-2h3.064M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
								</svg>
							   </span>
							</div>
							<input type="text" class="flex-shrink flex-grow flex-auto leading-normal w-px flex-1 border border-l-0 h-10 border-grey-light rounded-lg rounded-l-none px-3 relative focus:border-blue focus:shadow" name="tweet_link" required placeholder="https://">
			  </div>
						</div>
						<div class="md:flex md:flex-row md:space-x-4 w-full text-xs">
							<div class="w-full flex flex-col mb-3">
								<label class="font-semibold text-gray-600 py-2">Discord Username <abbr title="required">*</abbr></label>
								<input placeholder="@discord_username" class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded-lg h-10 px-4" type="text" name="discord_username" id="integration_street_address">
		 				 </div>
								<!-- <div class="w-full flex flex-col mb-3">
									<label class="font-semibold text-gray-600 py-2">Location<abbr title="required">*</abbr></label>
									<select class="block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded-lg h-10 px-4 md:w-full " required="required" name="integration[city_id]" id="integration_city_id">
			  <option value="">Seleted location</option>
			  <option value="">Cochin,KL</option>
			  <option value="">Mumbai,MH</option>
			  <option value="">Bangalore,KA</option>
			</select>
									<p class="text-sm text-red-500 hidden mt-3" id="error">Please fill out this field.</p>
								</div> -->
							</div>
							<div class="flex-auto w-full mb-1 text-xs space-y-2">
								<label class="font-semibold text-gray-600 py-2">TRX Deposit Address (TRC20))</label>
								<textarea required="" name="trx_address" required id="" class="w-full min-h-[100px] max-h-[300px] h-28 appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded-lg  py-4 px-4" placeholder="Please enter your TRX(TRC20) deposit address " spellcheck="false"></textarea>
							</div>
							<p class="text-xs text-red-500 text-right my-3">Required fields are marked with an
								asterisk <abbr title="Required field">*</abbr></p>

							<button type="submit" class='w-full bg-logo_color-400 font-bold rounded rounded-lg p-2 text-2xl hover:bg-logo_hover_color'>Submit</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

{% endblock content %}